.rafinnement{

    border-left:3px solid rgb(80, 78, 78);
    margin-left: 23px;
    margin-top: 10px;

}

.next:hover{
    height: 23px;
    width: 23px;
}

.raffinement_style{
    font-style: italic;
    cursor: pointer;
}

.raffinement_style:hover{
    font-weight: bold;
   
}