<div class="section section-buttons" id="researchForm" >
    <div class="container">
        <div class="tim-title">
            <h1 style="text-align: center;">Faites votre recherche..</h1>
        </div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group row">
                <label class="btn btn-link btn-default">Le terme à rechercher</label>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input matInput type="text" class="form-control" id="idWord" [formControl]="control" [(ngModel)]="myword" placeholder="Saisir votre terme ici.." name="myword" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let word of filteredWords | async" [value]="word">
                                {{word}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
                <label class="btn btn-link btn-default">Rechercher par relation</label>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select id='relation' name="relation" class="form-control" [(ngModel)]='RelationSelectionee' (click)=updateRelation($event.target.value)>
                            <option class="dropdown-item" selected value=""></option>
                            <option *ngFor="let rel of allRelations" [value]="rel.id">
                              {{rel.type}}
                            </option>    
                        </select>
                    </div>
                </div>
            </div>


         
            <div class="form-group row" style="text-align: center;">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn"><i class="fa fa-search" id="chercher"></i>Chercher</button>

                </div>

            </div>

        </form>



        <div class="container-fluid" *ngIf="isAvailable">
            <div class="text-center">
                <img src="assets/img/giphy2.gif" alt="chargement">

            </div>
        </div>
        <div class="container-fluid" *ngIf="isnotfind">
            <div class="text-center">
                <img src="assets/img/ask.png" alt="chargement">
                <h3>le mot <span style="color: brown;">{{message}}</span> n'existe pas</h3>
            </div>
        </div>


        <div *ngIf="show">
            <h2 class="btn btn-link btn-success">Définition</h2>

            <div [innerHtml]="definition" style="background-color: aliceblue; padding:30px;border-radius: 15px  ;"></div>

            <div class="rafinnement" *ngFor="let elem of element">
                <p style="margin-left: 10px;" [innerHtml]="elem"></p>
            </div>
            <br>
            
            <div>
                <div *ngIf="(nombre_raff_morphologique+nombre_raff_semantique) !=0 ">
                    <h3 class="btn btn-link btn-warning">Raffinement</h3>
                    <br>
                    <div *ngIf="nombre_raff_morphologique != 0 ">
                        <h4 class="btn btn-outline-info" style="margin-left: 20px;" *ngIf="nombre_raff_morphologique != 0 ">({{nombre_raff_morphologique}}) : Raffinements morphologiques </h4>
                        <p style="margin-left: 40px;" *ngFor="let rafM of raffinementMorph">{{message}}({{rafM.rfLink}})</p>
                        <br>
                    </div>
                    <div *ngIf="nombre_raff_semantique != 0">
                        <h4 class="btn btn-outline-info" style="margin-left: 20px;">Raffinements sémantiques : ({{nombre_raff_semantique}})   </h4>
                        <p  style="margin-left: 40px;" *ngFor="let raf of raffinement" class="raffinement_style" (click)="raffinementClick(message+'>'+raf.rfLink)">{{message}} ({{raf.rfLink}})</p>

                        <br>
                    </div>
                </div>

                <h3 class="btn btn-link btn-danger" >Associations d'idée <button type="button " class="btn btn-link btn-danger">P</button><button class="btn btn-link btn-danger">AL</button></h3>
                <br>
                <button type="button" *ngFor="let reltype of association | slice:0:showing_relation; " style="padding: 7px;" class="btn btn-default" (click)="searchWord(reltype.name)" title="type : {{reltype.type}} // poids : {{reltype.poids}}">{{reltype.name}}</button>
                <img src="assets/img/down.png" class="next" (click)="imageClick('association')" *ngIf="!ispressed" style="margin-bottom :10px;" alt="[...]" height="18px" width="18px">
                <img src="assets/img/up.png" class="next" (click)="imageClick('association')" *ngIf="ispressed" style="margin-bottom :10px;" alt="[...]" height="18px" width="18px">

            </div>
        </div>

        <div *ngIf="isShown">
            <h3 class="btn btn-link btn-danger ">Termes associés</h3>
            <br>
            <button type="button " *ngFor="let rels of results | slice:0:showing_relation; " style="padding: 7px; " class="btn btn-default" (click)="searchWord(rels.name)" title="type : {{rels.type}} // poids : {{rels.poids}}">{{rels.name}}</button>
            <img src="assets/img/down.png" class="next" (click)="imageClick('results')" *ngIf="!ispressed" style="margin-bottom :10px;" alt="[...]" height="18px" width="18px">
            <img src="assets/img/up.png" class="next" (click)="imageClick('results')" *ngIf="ispressed" style="margin-bottom :10px;" alt="[...]" height="18px" width="18px">
        </div>


    </div>
    
</div>